
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {

background-image: url("https://cdn1.vectorstock.com/i/1000x1000/63/90/colorful-pencil-background-vector-22576390.jpg");

background-position: center;

background-size: cover;
}

#myCanvas{

	background-color:  white;
	border-width :10px;
	border-style:ridge;


}